body {
 min-height : 100vh;
 display: flex;
 flex-direction: column;

}

#container {
    display: flex;
    align-items: center;
    height: 250px;
    width: 250px;
    margin: auto;

 
    
}

#box {
    display: flex;
    align-items: center;
    height: 500px;
    width: 500px;
  
}
div#row {
    display : flex;
    flex-direction: column;
   
}


.square {
    height: 10px;
    width: 10px;
    background-color: rgb(63, 63, 63);
   
}

button {
    margin: 50px;
} 
