body {
 min-height : 100vh;
 display: flex;
 flex-direction: column;

}

#container {
    display: flex;
    align-items: center;
    height: 50vh;
    width: 50vh;
    max-height: 50vh;   
    max-width: 50vh;
    margin: auto;
  
}

div#text {
    font-size: 24px;
    color: black;
    align-self: center;
}


div.row {
    display : flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.square {
    height: 50%;   
    width: 100%;
    background-color: rgb(63, 63, 63);
   
}

button {
    margin: 50px;
} 
